/**
 * 布局组件
 * 根据系统配置动态加载不同的布局
 */
<% if (isAntDesign) { -%>

import { Layout as AntLayout } from 'antd'
import { Outlet } from 'react-router-dom'

const { Header, Content } = AntLayout

function Layout() {
  return (
    <AntLayout style={{ minHeight: '100vh' }}>
      <Header style={{ background: '#fff', padding: 0 }}>
        {/* 导航栏 */}
      </Header>
      <Content style={{ padding: '24px' }}>
        <Outlet />
      </Content>
    </AntLayout>
  )
}

export default Layout
<% } else { -%>

import { Outlet } from 'react-router-dom'

function Layout() {
  return (
    <div className="layout">
      <Outlet />
    </div>
  )
}

export default Layout
<% } -%>

