:root {
  --el-border-radius-base: 8px;
  --el-table-border-color: #dcdfe6;
}

.el-card {
  --el-card-padding: 16px;
}

.el-button {
  font-family: SourceHanSans-Regular, serif;
}

//#region el-table
.el-table {
  color: #29354f;
  font-size: 14px;

  .el-table__body-wrapper, .el-table__fixed-body-wrapper {
    user-select: none;

    tr {
      /* 高亮选中行 */

      &:hover,
      &.selected {
        td {
          background-color: rgb(226 236 255 / 100%) !important;
        }
      }
    }

    .el-table__cell {
      padding: 4px 2px;
      cursor: pointer;
      border-color: var(--border-color-1);
      font-family: SourceHanSans-Regular, serif;
    }

    .el-table__cell:first-child {
      border-left: 1px solid var(--border-color-1);
    }
  }

  .el-table__header-wrapper, .el-table__fixed-header-wrapper {
    thead {
      color: #29354f;
      font-size: 12px;
      font-family: SourceHanSans-Semibold, serif;

      th {
        background: rgb(245 247 250 / 100%) !important;
        border-top: 1px solid var(--border-color-1);
      }
    }

    .el-table__cell {
      padding: 4px 2px;
      border-color: var(--border-color-1);
    }

    .el-table__cell:first-child {
      border-left: 1px solid var(--border-color-1);
    }

    .el-table__cell:first-child .cell {
      padding-left: 10px;
      position: relative;
    }
  }
}

//#endregion
//#region custom class
.bg-primary {
  background-color: var(--el-color-primary);
}

//#endregion
