@forward 'tailwindcss';

@theme {
  --spacing: 1px;
}

@layer base {
  html {
    font-size: 4px;
    @apply whitespace-nowrap;
  }
  canvas {
    display: inline;
  }
  body {
    font-size: 16px;
  }
}
@layer utilities {
  .flex {
    @apply flex flex-none;
  }
  .flex-1-hidden {
    @apply flex-1 overflow-hidden;
  }
  .flex-1-auto {
    @apply flex-1 overflow-auto;
  }
  .container {
    width: 100%;
    max-width: 100%;
  }
}
